.menu {
    background-color: #fff;
    width: 100%;
    text-align: center;
    ul {
        display: flex;
        margin: auto;
        .menu {
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            margin-top: 48px;
            padding:10px 20px;
            .nav-link {
                color: #000;
                font-size: 20px;
                &:hover {
                    font-weight: bold;
                }
            }
        }
    }
}