.CustomerOrder{
    display: flex;
    justify-content: center;
    .order{
        width: 30%;
        .title{
            font-weight: bold;
            font-size: 30px;
        }
    }
    .info{
        width: 50%;
        .title{
            font-weight: bold;
            font-size: 30px;
        }
    }


}