.menu {
    background-color: #333;
    width: 100%;
    text-align: right;

    ul {
        display: flex;
        margin: auto;
        .menu {
            list-style: none;
            align-items: flex-end;
            justify-content: right;
            padding: 0 30px;
            cursor: pointer;

            .nav-link {
                color: #fff;

                &:hover {
                    color: #fff;
                }
            }
        }
    }
}